<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name="h_mal.appttude.com.ui.user.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.User"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="h_mal.appttude.com.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="h_mal.appttude.com.ui.update.UpdateActivity"
            android:theme="@style/AppTheme.NoActionBar.Update" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="h_mal.appttude.com.driver"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
