*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/dictionaries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/misc.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
.DS_Store
/build
/captures
.externalNativeBuild
*.log
local
# Circleci
/.circleci/local_config.yml
/.circleci/run_local.bash
# Gem/fastlane
/Gemfile.lock
/playstore.json
/fastlane/report.xml
# Firebase emulator
database-debug.log
firebase-debug.log
